html{
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
    margin: 0;
    width: 100%;
    }
    body{
        width: 100%;

    }
  
.FAQs{
    width: 700px;
    margin: 15rem auto;
    border: 2px solid black;
    padding: 1rem;
}
.FAQs__title{
    font-size: 1.6rem;
}
.FAQs__list{
    list-style: none;

}
.key:hover,a:hover{
    color: burlywood;
    cursor: pointer;
}
.content-show{
    display: none;
}
a{
    text-decoration: none;
    font-size: 130%;
    font-weight: bold;
    color: black;
}
.hiddent::before{
    content: "+";
    color: rgb(255, 0, 179);
    width: 1rem;
    height: 1rem;
    font-weight: bolder;
    display: inline-block;
    margin-right: 0.1rem;
    
}
.show::before{
    content: "-";
    color: rgb(102, 255, 0);
    width: 1rem;
    height: 1rem;
    font-weight: bolder;
    display: inline-block;
    margin-right: 0.1rem;
    
}


