* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  background-color: white;
  width: 730px;
  margin: 0 auto;
  border: 3px solid blue;
  padding: 0 2rem 1rem;
  box-shadow: 3px 3px 3px #01019e;
}
h1 {
  margin-bottom: 1em;
}
input {
  margin-bottom: 1.5em;
  border: 1px solid #111;
}
label {
  float: left;
  text-align: right;
  width: 10em;
  margin-right: 1em;
}
span {
  color: red;
}
#calculate,
#clear {
  color: #fff;
  width: 100px;
  text-align: center;
  padding: 2px;
  border-radius: 4px;
  background-color: #777;
  box-shadow: 2px 2px 2px #666;
}
