html{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    text-align: center;
}
.slide-show{
    display: block;
    width:50rem;
    margin: 10rem auto;
    border: 2px solid burlywood;
  
}
.title{
    font-size: 3rem;
    font-weight: bolder;
    color: rgb(42, 91, 165);
}
#image{
  width: 40rem;
  
}