body {
    width: 40%;
    margin: 0 auto;
    font-family: sans-serif;
}

.panel {
    width: 650px;
    border: 3px solid blue;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 4px 4px 4px black;
}

label {
    font-weight: bolder;
}

.panel1 {
    padding-left: 100px;
}

.panel1 input[type="button"] {
    margin-left: 65px;
    width: 165px;
    color: blue;
    font-weight: bolder;
}