body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 800px;
    margin: 0 auto;
}

main {
    border: 3px solid #04049b;
    padding: 2rem;
}

main p {
    width: 70%;
}

h1 {
    margin-top: 0;
    color: black;
}

label {
    float: left;
    width: 12rem;
    text-align: right;
}

input, textarea {
    margin-bottom: 0.5rem;
    padding: 0.2rem;
    margin-left: 1rem;
}

input {
    width: 5rem;
}

textarea {
    width: 25rem;
}

#prime input[type="button"] {
    margin-left: 13rem;
    width: 7rem;
}

#prime span {
    color: red;
}