body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  background-color: white;
  width: 600px;
  margin: 0 auto;
  border: 2px solid #cacaca;
  box-shadow: 2px 2px 4px #cacaca;
  padding: 0 2rem 1rem;
}

p {
  margin: 0;
  padding-bottom: 0.5rem;
}

h1 {
  color: blue;
  font-size: 150%;
  margin-bottom: 0.5rem;
}

#tasks {
  width: 50%;
  box-sizing: border-box;
  float: right;
  padding: 1rem;
  border: 1px solid #cacaca;
  height: 125px;
  overflow: auto;
}

#task_form {
  width: 50%;
  padding-right: 2rem;
  box-sizing: border-box;
}

input {
  box-sizing: border-box;
  width: 100%;
  font-size: 90%;
  padding: 0.2rem;
  margin-bottom: 0.5rem;
}

.clear {
  clear: both;
}
