body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 450px;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: cyan;
}

main {
    width: 100%;
    box-sizing: border-box;
    border: 3px solid #035fb4;
    box-shadow: 0px 0px 4px 4px #035fb4;
    padding: 1rem 2rem;
    background-color: azure;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: #037ef1;
}

p {
    text-align: center;
}

a {
    color: red;
}